*{
  margin: 0 1vw;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vw 0;
  position: fixed;
  width: 95vw;
  border-radius: 10px;
  padding: 20px 15px;
  background-color: rgb(23, 23, 182);
}
.link{
  color: white;
  text-decoration: none;
}

