@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Adamina&family=BIZ+UDPMincho&family=Bebas+Neue&family=Cutive&family=Dancing+Script:wght@400..700&family=Gothic+A1&family=Kumbh+Sans:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Syne:wght@400..800&display=swap');

*{
    margin: 0;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7vw;
    height: 5vw;
    border-bottom: 1px solid black;
}
.logo{
    width: 12vw;
    margin-right: 9vw;
    z-index: -1;
}
.left{
    display: flex;
    align-items: center;
    gap: 4vw;
}
.right{
    display: flex;
    align-items: center;
}
.right > img{
    cursor: pointer;
}
.link{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-family: "Roboto Slab",serif;
    font-style: normal;
    font-weight: 500;
}
.link:hover{
    transition: 0.8s;
    text-shadow: 1px 1px 2px black;
}